*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #2d3436;
}

nav{
    margin-top: 200px;
    text-align: center;
}

nav ul {
    display: inline-block;
    list-style-type: none;
    transform: skew(-45deg);    
}

nav ul li {
    background-color: #ffff;
    float: left;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    /* box-shadow: 1.95px 1.95px 2.6px rgba(0,0,0,1); */
    /* color:#555; */
    color: black;
    font-weight: 400;
    transition: all 0.3s linear;
}
nav ul li:hover{
    background-color: #0984e3;
    color: #ffff;
}
a{
    color: inherit;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    transform: skew(45deg);    

    
}

nav ul li:first-child{
    border-radius: 9px 0 0 9px;
}
nav ul li:last-child{
    border-radius: 0 9px 9px 0;
}