h3{
    background-color: red;
    display: inline;
}

p{
    background-color: aquamarine;
}

span{
    background-color: burlywood;
    display: block;
}

div p .span{
    background-color: blue;
    display: inline-block;
}